<canvas id="stage"></canvas>

<form>
  <select name="stages" id="stages">
      <option value="Stage1">Boxes & SVGs</option>
      <option value="Stage2">Train</option>
      <option value="Stage3">Birds</option>
  </select>
  <button type="submit">Start!</button>
</form>
